absl-py==0.15.0
cffi==1.15.0
cloudpickle==2.0.0
dataclasses==0.8
future==0.18.2
grpcio==1.41.1
importlib-metadata==4.8.2
Markdown==3.3.4
numpy==1.21.4
pip==21.3.1
protobuf==3.18.1
pycparser==2.21
setuptools==58.5.3
six==1.16.0
submitit==1.2.1
tensorboard==1.15.0
torch==1.10.0
typing-extensions==3.10.0.2
Werkzeug==2.0.1
wheel==0.37.0
zipp==3.6.0
