anaconda-client==1.8.0
brotlipy==0.7.0
colorama==0.4.6
conda-build==3.22.0
conda-package-handling==2.0.2
fluiddyn==0.5.0
furo==2022.1.2
future==0.18.2
pip==22.3.1
pyOpenSSL==23.0.0
PySocks==1.7.1
sphinx-copybutton==0.5.0
sphinxcontrib-bibtex==2.4.1
submitit==1.2.1
toolz==0.12.0
torch==1.10.1
wheel==0.38.4
