brotlipy==0.7.0
colorama==0.4.4
conda-build==3.21.7
conda-package-handling==1.7.3
dataclasses==0.8
glob2==0.7
pip==21.3.1
pyOpenSSL==21.0.0
PySocks==1.7.1
submitit==1.2.1
tensorboard==1.15.0
torch==1.10.1
