brotlipy==0.7.0
colorama==0.4.4
fluiddyn==0.5.0
furo==2022.1.2
pip==22.0.3
pyOpenSSL==22.0.0
PySocks==1.7.1
setuptools==60.7.1
sphinx-copybutton==0.5.0
sphinxcontrib-bibtex==2.4.1
submitit==1.2.1
torch==1.10.2
wheel==0.37.1
